.table_div {
    overflow-x: auto;
    padding: 2.5rem 2rem;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: .1rem solid #dddddd;
    text-align: center;
    padding: 1rem;
  }
  
  th {
    background-color: rgb(138, 133, 133);
  }

  .sort_btn {
    display: flex;
    flex-direction: column;
  }

  th > i {
    cursor: pointer;
  }
  
  tr:nth-child(odd) {
    background-color: #dddddd;
  }
  
  /* Button */
  
  .button {
    border: none;
    color: white;
    padding: 1rem 2rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1rem;
    transition-duration: 0.4s;
    cursor: pointer;
  }
  
  .button1 {
    background-color: white; 
    color: black; 
    border: .1rem solid #4CAF50;
  }
  
  .button1:hover {
    background-color: #4CAF50;
    color: white;
  }
  
  .button2 {
    background-color: white; 
    color: black; 
    border: .1rem solid #008CBA;
  }
  
  .button2:hover {
    background-color: #008CBA;
    color: white;
  }